<li id=quote_<%= quote.id %>>
	<div class='row'>
		<div class='span1'>
			<% if (current_user != nil) && (voted? quote.id) %>
				<%= link_to image_tag("down_arrow.png"), downvote_url(id: quote.id), class: 'btn btn-mid' %>
			<% elsif (current_user != nil) %>
				<%= link_to image_tag("up_arrow.png"), upvote_url(id: quote.id), class: 'btn btn-mid' %>
			<% else %>
				<%= link_to image_tag("up_arrow.png"), '#', class: 'btn btn-mid disabled' %>
			<% end %>
			<%= quote.vote_count %>
		</div>
		<div class='span4'>
			"<%= quote.body %>"<br \>  
			Submitted By: <%= User.find_by_id(quote.user_id).name %> <br />
			<% if current_user != nil && current_user.id == quote.user_id %>
			| <%= link_to 'Delete', quote, method:'delete', data: { confirm: 'Are you sure?' } %>
			
			| <a href="#" id="privacy_link_<%=quote.id%>" data-remote="true" rel="popover" data-original-title="Privacy">Privacy:
			<% if isPrivate? quote.id %>
			Private
			<% elsif isEveryone? quote.id%>
			Everyone
			<% else%>
			Users Only
			<% end %>
			</a> 
			<% end %>
		</div>
	</div>
	<div id="privacy_popover_<%=quote.id%>" class="popover_content_wrapper" style="display: none">
		<div class="btn-group btn-group-vertical privacy-btns">
			<% if isPrivate?(quote.id) %>
	  			<%= link_to "Everyone", set_privacy_url(id: quote.id, privacy: "public"), class: "btn btn-primary btn-block privacy-btn" %>
	  			<%= link_to "Users Only", set_privacy_url(id: quote.id, privacy: "protected"), class: "btn btn-primary btn-block privacy-btn" %>
	  			<%= link_to "Private", set_privacy_url(id: quote.id, privacy: "private"), class: "btn btn-primary btn-block privacy-btn active" %>
	  		<% elsif isEveryone? quote.id%>
				<%= link_to "Everyone", set_privacy_url(id: quote.id, privacy: "public"), class: "btn btn-primary btn-block privacy-btn active" %>
	  			<%= link_to "Users Only", set_privacy_url(id: quote.id, privacy: "protected"), class: "btn btn-primary btn-block privacy-btn " %>
	  			<%= link_to "Private", set_privacy_url(id: quote.id, privacy: "private"), class: "btn btn-primary btn-block privacy-btn" %>
	  		<% else %>
	  			<%= link_to "Everyone", set_privacy_url(id: quote.id, privacy: "public"), class: "btn btn-primary btn-block privacy-btn" %>
	  			<%= link_to "Users Only", set_privacy_url(id: quote.id, privacy: "protected"), class: "btn btn-primary btn-block privacy-btn active" %>
	  			<%= link_to "Private", set_privacy_url(id: quote.id, privacy: "private"), class: "btn btn-primary btn-block privacy-btn" %>
	  		<% end %>
	  	</div>
	</div>
</div>
</li> 