<div class='row'>
	<div class="span5">
		<h1>Quotes</h1>
		<% if current_user != nil %>
			<%= form_for Quote.new do |f| %>
				<%= f.text_area :body, placeholder: 'body', rows: '4' %><br />
				<%= f.submit %>
			<% end %>
		<% end %>
		<ul class="nav nav-pills">
			<li class=<%="#{is_active?('recent')}"%>><%= link_to 'Recent', root_path(sort: "recent")%></li>
			<li class=<%="#{is_active?('top')}"%>><%= link_to 'Top', root_path(sort: "top") %></li>
			<% if current_user != nil %>
				<li class=<%="#{is_active?('upvoted')}"%>><%= link_to 'Upvoted', root_path(sort: "upvoted") %></li>
				<li class=<%="#{is_active?('mine')}"%>><%= link_to 'Mine', root_path(sort: "mine") %></li>
			<% end %>
		</ul>
		<%= will_paginate @quotes %>
		<ul class="quotes">
			<%= render @quotes %>
		</ul>
		<%= will_paginate @quotes %>
	</div>
	<div class="span3">
		<h1>Users</h1>
		<ul class="users">
			<%= render @users %>
		</ul>
	</div> 
</div>

<div id="popover_content_wrapper" style="display: none">
  <div>This is your div content</div>
</div>