<div class='row'>
	<div class="span8">
		<h1>Quotes</h1>
		<%= form_for Quote.new do |f| %>
			<%= f.text_area :body, placeholder: 'body', rows: '4' %><br />
			<%= f.text_field :author, placeholder: 'author' %><br />
			<%= f.submit %>
		<% end %>
		<%= will_paginate @quotes %>
		<ul class="quotes">
			<%= render @quotes %>
		</ul>
		<%= will_paginate @quotes %>
	</div>
	<div class="span4">
		<h1>Users</h1>
		<ul>
			<% for user in @users %>
				<li id=user_<%= user.id %>>
					<%= user.name %>: <%= user.email %> 
					<% if current_user != nil && current_user.admin? && !current_user?(user) %>
						| <%= link_to 'Delete', user, method:'delete', data: { confirm: 'Are you sure?'} %>
					<% end %>
				</li> 
			<% end %>
		</ul>
	</div> 
</div>