<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Seven Wonders QDB", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<% if signed_in? %>
						<% if current_user.admin == true %>
						<li>
							<a href="#" id="approval_link" data-remote="true">Approvals
								<% if approval_count > 0 %>
									<span class="badge badge-important">
								<% else %>
									<span class="badge">
								<% end %><%= approval_count %></span> </a>
						</li>
						<% end %>
			            <li id="fat-menu" class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			                <%= current_user.email %> <b class="caret"></b>
			              </a>
			              <ul class="dropdown-menu">
			                <li><%= link_to "Profile", current_user %></li>
			                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
			                <li class="divider"></li>
			                <li>
			                  <%= link_to "Sign out", signout_path, method: "delete" %>
			                </li>
			              </ul>
			            </li>
			            <% if current_user.admin == true %>
			            	<li>
			            		<span class="label label-important navItem"><strong>Admin</strong></span>
			            	</li>
			            <% end %>
					<% else %>
						<li><%= link_to "Sign In", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>

<!-- approval_popover -->
<% if approval_count > 0 %>
<div id="approval_popover" class="popover_content_wrapper" style="display: none">
	<ul>
		<% get_approvals.each do |approval| %>
			<li class="approval_item">
				<span class=""><%= approval.name %> </span>
				<span class="">
					<%= link_to 'approve', approval_url(id: approval.id, apr: "approved"), class: "label label-success" %> 
					<%= link_to 'deny', approval_url(id: approval.id, apr: "negative"), class: "label label-important" %>
				</span>
			</li>
		<% end %>
	</ul>
</div>
<% end %>