<!DOCTYPE html>
<html>
<head>
  <title>SevenWondersQdb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div id="root" class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>
	<div id="footer" class="container">
		<span class="pull-right">Created by: <%= link_to('RandomOutputDesign.com', "http://www.RandomOutputDesign.com", :target => "_blank") %></span>
	</div>
</body>
</html>
